---
import type { Props } from "@astrojs/starlight/props";
import Search from "@astrojs/starlight/components/Search.astro";
import ThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro";
---

<div id="myHeader">
  <!-- Google Analytics (gtag.js) -->
  <script
    type="text/partytown"
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-T69209M3QV"></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-T69209M3QV");
  </script>

  <div class="prod">
    <a href="/" class="home"> Climoscope </a>
  </div>
  <div class="fill"></div>
  <div>
    <Search {...Astro.props} />
  </div>
  <div>
    <ThemeSelect {...Astro.props} />
  </div>
</div>
